.todo-list {
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 12px;
    background: var(--lightgray-color);
    border-radius: 8px;
    border-left: 4px solid var(--orange-color);
    text-align: left;
    cursor: pointer;

    &--selected {
      background: var(--lightgreen-color);
    }
  }

  &__description {
    font-size: 1.1em;
    color: var(--darkgray-color);
    flex-grow: 1;
    margin-right: 15px;
  }
}
