<li class="todo-list__item" [ngClass]="{ 'todo-list__item--selected': isSelected() }">
  @if (isEdited) {
    <form class="todo-list__new-form">
      <mat-form-field appearance="fill" [style]="'width:100%'">
        <mat-label>Название задачи:</mat-label>
        <input matInput [formControl]="taskFormControl" />
        @if (taskFormControl.hasError('required')) {
          <mat-error>Название задачи <strong>обязательно </strong>для заполнения!</mat-error>
        }
      </mat-form-field>
      <app-button-component
        [type]="'submit'"
        [title]="'Save'"
        [isEdit]="true"
        [isDisabled]="taskFormControl.invalid"
        (click)="saveCurrentTask(taskFormControl.value)"
        appShowTooltip="Сохранить описание задачи"
      ></app-button-component>
    </form>
  } @else {
    <span
      class="todo-list__description"
      appShowTooltip="Нажмите, чтобы просмотреть описание задачи. Нажмите дважды для редактирования задачи"
      >{{ text }}</span
    >
    <app-button-component
      [title]="'Delete'"
      [isDelete]="true"
      (click)="deleteCurrentTask(id)"
      appShowTooltip="Удалить задачу"
    ></app-button-component>
  }
</li>
