<main class="todo__main">
  <div class="todo__content">
    <h1 class="todo__title">Список задач</h1>
    @if (isLoading) {
      <app-loader></app-loader>
    } @else {
      <ul class="todo__list">
        @for (task of tasks; track task.id) {
          <app-to-do-list-item
            [id]="task.id"
            [text]="task.text"
            [selectedItemId]="selectedItemId"
            (deleteTaskEvent)="deleteTask($event)"
            (click)="onListItemClick(task.id)"
          ></app-to-do-list-item>
        }
      </ul>
    }
    <section class="todo__new-task">
      <h3 class="todo__subtitle">Новая задача</h3>
      <form class="todo__new-form">
        <mat-form-field appearance="fill" [style]="'width:100%'">
          <mat-label>Название задачи:</mat-label>
          <input
            matInput
            [formControl]="taskFormControl"
            placeholder="Например: Приготовить обед"
          />
          @if (taskFormControl.hasError('required')) {
            <mat-error>Название задачи <strong>обязательно </strong>для заполнения!</mat-error>
          }
        </mat-form-field>
        <mat-form-field [style]="'width:100%'">
          <mat-label>Описание задачи</mat-label>
          <textarea
            matInput
            [formControl]="descriptionFormControl"
            placeholder="Введите описание задачи (необязательно)"
          ></textarea>
        </mat-form-field>
        <app-button-component
          [type]="'submit'"
          [title]="'Add'"
          [isAdd]="true"
          (click)="onAddTask(taskFormControl.value, descriptionFormControl.value)"
          [isDisabled]="taskFormControl.invalid"
          appShowTooltip="Добавить задачу"
        ></app-button-component>
      </form>
    </section>
  </div>
  @if (selectedItemId) {
    <div class="todo__side-content">
      <div class="todo__description-view">
        <h3 class="todo__subtitle">Описание задачи</h3>
        <div class="todo__description">{{ getTaskDescription() }}</div>
      </div>
    </div>
  }
</main>
