<div class="todo__main">
  <h1 class="todo__title">Список задач</h1>
  @if (isLoading) {
    <app-loader></app-loader>
  } @else {
    <ul class="todo__list">
      @for (task of tasks; track task.id) {
        <app-to-do-list-item
          [id]="task.id"
          [text]="task.text"
          (deleteTaskEvent)="deleteTask($event)"
        ></app-to-do-list-item>
      }
    </ul>
  }
  <form class="todo__new-form">
    <div class="todo__form-wrapper">
      <mat-form-field appearance="fill">
        <mat-label>Введите описание задачи:</mat-label>
        <input matInput [formControl]="taskFormControl" placeholder="Приготовить обед" />
        @if (taskFormControl.hasError('required')) {
          <mat-error>Описание задачи <strong>обязательно </strong>для заполнения!</mat-error>
        }
      </mat-form-field>
      <app-button-component
        [type]="'submit'"
        [title]="'Add'"
        [isAdd]="true"
        (click)="onAddTask(taskFormControl.value)"
        [isDisabled]="taskFormControl.invalid"
      ></app-button-component>
    </div>
  </form>
</div>
