.todo {
  &__main {
    margin: 0px 30px;
    border: 1px solid var(--green-color);
    background-color: var(--white-color);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 1200px;

    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 25px;
  }

  &__content {
    text-align: center;
  }

  &__title {
    color: var(--blue-color);
    margin-bottom: 25px;
    font-size: 2.2em;
    font-weight: bold;
  }

  &__subtitle {
    color: var(--blue-color);
    margin-bottom: 15px;
    font-size: 1.6em;
    font-weight: bold;
  }

  &__list {
    list-style: none;
    margin-bottom: 25px;
  }

  &__new-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
    align-items: flex-start;
  }

  &__input {
    flex-grow: 1;
    padding: 12px;
    border: 2px solid var(--green-color);
    border-radius: 8px;
    font-size: 1em;
    outline: none;

    &:focus {
      border-color: var(--orange-color);
      box-shadow: 0 0 0 3px rgba(52, 173, 84, 0.1);
    }
  }

  &__side-content {
    text-align: center;
    margin-top: 40px;
    border: 1px solid var(--green-color);
    border-radius: 15px;
    background-color: var(--lightorange-color);
    height: max-content;
  }

  &__subtitle {
    margin: 8px;
  }

  &__description {
    padding: 8px;
  }
}
